body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 10px;
    background-color: #4049c9;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 48px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

#container {
    display: flex;
    justify-content: center;
}

#content {
    padding: 50px;
    max-width: 1000px;
    font-size: 18px;
    color: #666;
}

footer {
    text-align: center;
}